.Home_main{
    color: white;
    width: 100%;
    position: fixed;
    top: 30%;
    text-align: center;
}
.Home_main h1{
    font-size: 3em;
}
.Home_main p{
    font-family: '궁서';
}

.Home_Link{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.Home_Link a{
    text-decoration: none;
    color: aliceblue;
    margin: auto 10px;
}